/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body,
html {
  height: 100%;
  margin: 0 auto;
}

body {
  font-family: "Montserrat";
  font-size: 18px;
  background-color: rgb(200, 200, 200);
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    width: 0 !important;
  }
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  //margin: 0 auto;
  padding: 1.3em;
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 30% auto;

  a {
    color: white;
  }
}

section {
  width: 95%;
  margin: 0 auto;
  padding-top: 5em;
}
.mat-dialog-container {
  // background: border-box !important;
  background-color: rgb(32, 32, 32);
  background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
    linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
    linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
  background-size: 10px 10px, 10px 10px, 10px 5px;
  background-position: 0px 0px, 5px 5px, 0px 0px;
}
